.array {
  background: white;
  width: 20vw;
  margin: 0 auto;
  align-content: flex-end;
  display:flex; 
  flex-direction: column;
  height: 100%;
  overflow: auto;
  border: 1px solid black;
}

.remove {
  border: none;
  width: 100%;
  height: 50%;
  margin: 0 auto;
}

input {
  width: 1vw; 
}
