.frame {
    min-width: 30vw;
    max-width: 30vw;
    width: 30vw;
    align-self: center;
}

h3{
    text-decoration: underline;
}

.stackbox {
    min-width: 30vw;
    max-width: 30vw;
    width: 30vw;
}

input{
    width: 29vw;
    align-self: center;
    text-align: center;
}
