.frame {
    min-width: 30vw;
    max-width: 30vw;
    align-self: center;
    margin: 0 auto;
}

.local {
    background: cyan;
}

.arguments {
    background: lime;
}

input{
    width: 29vw;
    align-self: center;
    text-align: center;
}
