.handDrawnBox1{
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(1deg);
}

.box2{
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

.handDrawnBox3{
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(2deg);
}

.handDrawnBox3inner{
  margin:15px;
  transform: rotate(-2deg);
}

.handDrawnBox1inner{
  margin:15px;
  transform: rotate(-1deg);
}

.evenboxinner{
  transform: rotate(2deg);
  margin:15px;
  padding:0 5px;
  float:right;
  background:#ddd;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
}