/* -------------------------------- */
/* Header with/and language buttons */
/* -------------------------------- */

.code-panel-header {
  width: 100%;
  height: 50px;
  box-shadow: -1px 0px 8px 1px black;
  background-color: #202020;
  border: 1px solid #606060;
}

.btn {
  margin-top: 1px;
  display: inline-block;
  text-align: center;
  padding: 16px;
  border: none;
}

.btn:hover {
  margin-top: 0px;
  border: 1px solid black;
}

/* ---------------------------- */
/* -- Code panel related CSS -- */
/* ---------------------------- */

.code-panel {
  background-color: #202020;
  width: 100%;
  height: 100%;
}

.code-panel .code-to-ar-base {
  display: flex;
  width: 100%;
  height: 100%;
}
.error {
  display: flex;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  padding-left: 10px;
}

.error-btn {
  margin-left: auto;
  background: #ffe0e0;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.loading-elements {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
}
