@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.drawing-icons * {
  font-family: 'Indie Flower', cursive;
}
.drawing-icons {
    background-color: #ccc;
    width: 100%;
    max-width: 10%;
    height: 100%;
}