@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.header * {
  font-family: 'Indie Flower', cursive;
}

.App {
  width: 100%;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 48px 1fr;
}

.header {
  
  background-color: #202020;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 48px;
}

